/ {
    behaviors {

      tp: tap_preferred {
        compatible = "zmk,behavior-hold-tap";
        label = "TAP_PREFERRED";
        #binding-cells = <2>;
        tapping-term-ms = <150>;
        quick-tap-ms = <0>;
        flavor = "tap-preferred";
        bindings = <&kp>, <&kp>;
      }; 

    };

    macros {
        
      a_gr: a_gr {
          label = "a_gr";
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
              = <&macro_press &kp RALT>
              , <&macro_tap &kp GRAVE >
              , <&macro_release &kp RALT>
              , <&macro_tap &kp A >
              ;
      };
        
      e_gr: e_gr {
          label = "e_gr";
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
              = <&macro_press &kp RALT>
              , <&macro_tap &kp GRAVE >
              , <&macro_release &kp RALT>
              , <&macro_tap &kp E >
              ;
      };
        
      i_gr: i_gr {
          label = "i_gr";
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
              = <&macro_press &kp RALT>
              , <&macro_tap &kp GRAVE >
              , <&macro_release &kp RALT>
              , <&macro_tap &kp I >
              ;
      };
        
      o_gr: o_gr {
          label = "o_gr";
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
              = <&macro_press &kp RALT>
              , <&macro_tap &kp GRAVE >
              , <&macro_release &kp RALT>
              , <&macro_tap &kp O >
              ;
      };
        
      u_gr: u_gr {
          label = "u_gr";
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
              = <&macro_press &kp RALT>
              , <&macro_tap &kp GRAVE >
              , <&macro_release &kp RALT>
              , <&macro_tap &kp U >
              ;
      };

      e_ac: e_ac {
          label = "e_ac";
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
              = <&macro_press &kp RALT>
              , <&macro_tap &kp E >
              , <&macro_release &kp RALT>
              , <&macro_tap &kp E >
              ;
      };
        
      mac_exp: mac_exp {
          label = "mac_exp";
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
              = <&macro_press &kp LCTRL>
              , <&macro_tap &kp DOWN>
              , <&macro_release &kp LCTRL>
              ;
      };

      mac_mc: mac_mc {
          label = "mac_mc";
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
              = <&macro_press &kp LCTRL>
              , <&macro_tap &kp UP>
              , <&macro_release &kp LCTRL>
              ;
      };

  };
};
